<footer class="footer-bs">
          <div class="row">
          	<div class="col-md-3 footer-brand animated fadeInLeft">
              	<h2><img class="brand" src="assets/MG-symbol-black-2010.png"></h2>
                  <p>Morris Garages</p>
                  <p>I do not own any MG related Content, Logo, Names</p>
              </div>
          	<div class="col-md-4 footer-nav animated fadeInUp">
              	<h4>Menu </h4>
              	<div class="col-md-6">
                      <ul class="pages">
                          <li><a href="#">MGA</a></li>
                          <li><a href="#">MGB</a></li>
                          <!-- <li><a href="#">Explores</a></li>
                          <li><a href="#">Science</a></li>
                          <li><a href="#">Advice</a></li> -->
                      </ul>
                  </div>
              	<!-- <div class="col-md-6">
                      <ul class="list">
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">Contacts</a></li>
                          <li><a href="#">Terms & Condition</a></li>
                          <li><a href="#">Privacy Policy</a></li>
                      </ul>
                  </div> -->
              </div>
          	<div class="col-md-3 footer-ns animated fadeInRight">
              <h4>Follow Us</h4>
              <ul>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Instagram</a></li>
                  <!-- <li><a href="#">RSS</a></li> -->
                </ul>
              </div>
          </div>
      </footer>

      </html>
