<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> Bootstrap 4 project :: {{title}}</title>

    <!--Bootstrap CSS -->
      <link rel="stylesheet" href="{{root}}css/app.css">
  </head>
  <body>
    {{> body}}
  </body>
</html>
