.footer-bs {
  background-color: #3c3d41;
  padding: 60px 40px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 0;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
  .footer-brand, .footer-nav, .footer-social, .footer-ns {
    padding: 10px 25px;
  }
  .footer-nav, .footer-social, .footer-ns {
    border-color: transparent;
  }
  .footer-brand {
    h2 {
      margin: 0px 0px 10px;
    }
    p {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
  .footer-nav {
    ul.pages {
      list-style: none;
      padding: 0px;
      li {
        padding: 5px 0px;
      }
      a {
        color: rgba(255, 255, 255, 1);
        font-weight: bold;
        text-transform: uppercase;
        &:hover {
          color: rgba(255, 255, 255, 0.8);
          text-decoration: none;
        }
      }
    }
    h4 {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 10px;
    }
    ul.list {
      list-style: none;
      padding: 0px;
      li {
        padding: 5px 0px;
      }
      a {
        color: rgba(255, 255, 255, 0.8);
        &:hover {
          color: rgba(255, 255, 255, 0.6);
          text-decoration: none;
        }
      }
    }
  }
  .footer-social {
    ul {
      list-style: none;
      padding: 0px;
    }
    h4 {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    li {
      padding: 5px 4px;
    }
    a {
      color: rgba(255, 255, 255, 1);
      &:hover {
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
      }
    }
  }
  .footer-ns {
    h4 {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 10px;
    }
    p {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

@media (min-width: 768px) {
  .footer-bs {
    .footer-nav, .footer-social, .footer-ns {
      border-left: solid 1px rgba(255, 255, 255, 0.1);
    }
  }
}
