/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

blockquote {
  quotes: none;
  &:before, &:after {
    content: '';
    content: none;
  }
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

/* =Scss Variables
-------------------------------------------------------------- */
/* =Global
-------------------------------------------------------------- */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

body {
  background-color: #fff;
  color: #505050;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #fff;
  &:hover {
    color: #0793e2;
  }
}

/* =Template
-------------------------------------------------------------- */

#wrapper {
  width: 100%;
  margin: 0 auto;
}

#main {
  background-color: #fff;
  padding-top: 150px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 30px;
}

section {
  padding: 60px 0;
  h1 {
    font-weight: 700;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.color {
    background-color: #fff;
    color: white;
  }
}

/* =Info Bar
-------------------------------------------------------------- */

#info-bar {
  background-color: #fff;
  a {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    padding: 10px;
    &:hover {
      background-color: #0793e2;
    }
  }
  span {
    &.all-tutorials, &.back-to-tutorial {
      display: block;
      width: 50%;
    }
    &.all-tutorials {
      float: left;
      text-align: left;
    }
    &.back-to-tutorial {
      float: right;
      text-align: right;
    }
  }
}

/* =Header
-------------------------------------------------------------- */

header {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #0683c9;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  h1#logo {
    display: inline-block;
    height: 150px;
    line-height: 150px;
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    color: white;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  nav {
    display: inline-block;
    float: right;
    a {
      line-height: 150px;
      margin-left: 20px;
      color: #9fdbfc;
      font-weight: 700;
      font-size: 18px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      &:hover {
        color: white;
      }
    }
  }
  &.smaller {
    height: 75px;
    img {
        height: 75px;
        line-height: 75px;
        font-size: 30px;
    }
    h1#logo {
      width: 150px;
      height: 75px;
      line-height: 75px;
      font-size: 30px;
    }
    nav a {
      line-height: 75px;
    }
  }
}

img.brand {
  display: inline-block;
  height: 150px;
  line-height: 150px;
  float: left;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  color: white;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
// img.brand {
//   width: 150px;
//   height: 75px;
//   line-height: 75px;
//   font-size: 30px;
// }
/* =Footer
-------------------------------------------------------------- */
/* =Extras
-------------------------------------------------------------- */

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 660px) {
  /* =Header
  -------------------------------------------------------------- */
  header {
    h1#logo {
      display: block;
      float: none;
      margin: 0 auto;
      height: 100px;
      line-height: 100px;
      text-align: center;
    }
    nav {
      display: block;
      float: none;
      height: 50px;
      text-align: center;
      margin: 0 auto;
      a {
        line-height: 50px;
        margin: 0 10px;
      }
    }
    &.smaller {
      height: 75px;
      h1#logo {
        height: 40px;
        line-height: 40px;
        font-size: 30px;
      }
      nav {
        height: 35px;
        a {
          line-height: 35px;
        }
      }
    }
  }
}

@media all and (max-width: 600px) {
  .container {
    width: 100%;
  }
  #info-bar {
    a {
      display: block;
    }
    span {
      &.all-tutorials, &.back-to-tutorial {
        width: 100%;
      }
      &.all-tutorials, &.back-to-tutorial {
        float: none;
        text-align: center;
      }
      &.all-tutorials {
        border-bottom: solid 1px #0793e2;
      }
    }
  }
}
